[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
bokeh = "*"
plotly = "*"
altair = "*"
matplotlib = "*"
seaborn = "*"
pydeck = "*"
streamlit-extras = "*"
pytz = "*"
vega_datasets = "*"
ghapi = "*"
stqdm = "*"
psutil = "*"


[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
isort = "*"
watchdog = "*"

[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./app.py"
