[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
bokeh = "==2.4.3"
plotly = "*"
altair = ">=5"
matplotlib = "*"
seaborn = "*"
pydeck = "*"
streamlit-extras = "*"
pytz = "*"
vega_datasets = "*"
psutil = "*"
streamlit-folium = "*"
streamlit-aggrid = "*"
humanize = "*"
coverage = "*"
httpx = "*"
polars = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
isort = "*"
watchdog = "*"


[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./🚧_Streamlit_Issue_Explorer.py"
