streamlit-nightly
pandas
numpy
bokeh==2.4.3
plotly
altair>=5
matplotlib
seaborn
pydeck
streamlit-extras
pytz
vega_datasets
psutil
streamlit-folium
streamlit-aggrid
humanize
coverage
httpx
polars
jinja2
requests 